body {
  color: #222;
}

main {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto; /* Center content. */
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

.container {
  background-color: red;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmaxs(300px, 1fr));
  gap: 10px;
}